@media only screen and (max-width:640px) {
	
	ul,
	li,
	p,
	body {
		padding: 0;
		margin: 0;
	}


	a {
		text-decoration: none;
	}
	
	.header {
		margin: 13.5px auto;
		overflow: hidden;
		padding: 7.5px;
	}
	
	.logo {
	}
	
	.logo a {
		display: block;

	}
	
	.logo a img {
		width: 180px;
		vertical-align: middle;
	}
	
	.header-right {
		overflow: hidden;
	}
	
	.header-right .search {
		float: left;
		margin-right: 40px;
	}
	
	.search input {
		width: 180px;
    		height: 30px;
	}
	
	.search button {
		background-color: #f93;
		border: 1px solid transparent;
		width: 45px;
		height: 30px;
	}
	
	.header-right .login {
		float: right;
	}
	
	.login a {
		color: #333;
	}
	
	.login span {
		margin: 0 10px;
	}
	
	.nav {
		background-color: #333;
	}
	
	.nav button {
		width: 50px;
		height: 50px;
	}
	
	.navbar {
		margin: 0 auto;
		padding: 0 15px;
		overflow: hidden;
	}
	
	.navbar ul {
		float: left;
		list-style: none;
		overflow: hidden;
		display: none;
	}
	
	.navbar ul li {
		float: left;
	}
	
	.navbar ul li a {
		line-height: 20px;
    		font-size: 18px;
    		color: #fff;
    		padding: 15px 20px;
    		display: block;
	}
	
	.navbar ul li a:hover,
	.navbar ul li a:focus {
		color: #ff8000;
    		background-color: #000;
	}
	
	.content {
		margin: 13.5px auto;
		overflow: hidden;
		padding: 7.5px;
	}
	
	.download {
		float: left;
		width: 100%;
	}
	
	.banner {
		display: none;
	}
}