@charset "utf-8";

ul,
li,
p,
body {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

header {
	width: 1000px;
	height: 70px;
	margin: 15px auto 0;
	overflow: hidden;
}

.logo {
	float: left;
}

.title {
	float: right;
	font-size: 12px;
	padding-bottom: 8px;
}

.title > * {
	display: inline-block;
}

.title span,
.title a {
	color: #909090;
} 

.phone {
	padding-left: 10px;
}

.phone strong {
	color: #ff2020;
	font-size: 16px;
}

.header {
	float: right;
}

.header ul {
	list-style: none;
	overflow: hidden;
}

.header ul li {
	float: left;
	width: 80px;
	height: 40px;
}

.header ul li a {
	text-align: center;
	font-size: 14px;
	line-height: 40px;
	margin: 0 auto;
	display: block;
	color: #3d3d3d;
}

.header ul li a:hover {
	color: #ffffff;
	background: #ff0000;
}

section {
	clear: both;
}

.scroll {
	background: #017ab2;
}

.scroll .pic {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.pic .pic-title {
	float: left;
	padding: 20px;
	z-index: 10;
}

.pic-title > p:first-child {
	font-size: 30px;
	color: #b70003;
}

.pic-title > p:last-child {
	font-size: 60px;
	color: #ffffff;
}

.pic-title > p:last-child span {
	font-size: 100px;
}

.pic img {
	float: right;
}

.main {
	width: 1000px;
	margin: 0 auto;
	clear: both;
}

.service,
.case {
	overflow: hidden;
}

.service-title,
.case-title {
	margin: 25px auto 30px;
}

.service-title > p,
.case-title > p {
	text-align: center;
	font-size: 24px;
}

.service-title > p:last-child,
.case-title > p:last-child {
	color: #c4c4c4;
}

.service-content,
.case-content {
	padding: 0;
}

.service-content ul,
.case-content ul {
	overflow: hidden;
	list-style: none;
}

.service-content ul li {
	width: 250px;
	height: 312px;
	float: left;
	padding: 10px;
	margin: 0 95px 0 0;
	border-radius: 10px;
}

.case-content ul li {
	height: 388px;
	float: left;
	padding: 10px;
	/*border: 1px #b3b3b3 solid;*/
	box-shadow: 1px 1px 2px 2px #b3b3b3;
	/*outline: #b3b3b3 solid 1px;*/
	margin: 0 50px 0 0;
}

.service-content ul li:first-child {
	background: #7292fa;
}

.service-content ul .li-two {
	background: #fde07d;
}

.service-content ul li:last-child,
.case-content ul li:last-child {
	margin: 0 0 30px 0;
}

.service-content ul li:last-child {
	background: #fba96c;
}

.service-one,
.case-one {
	float: left;
}

.case-one {
	width: 278px;
}

.service-one > *,
.case-one > * {
	/*margin-bottom: 10px;*/
}

.service-one p:first-child {
	text-align: center;
}

.case-one p:first-child {
	text-align: left;
	margin: 0;
	padding: 0;
	color: #64b9fa;
	border-bottom: #c2c8cd;
}

.service-one img,
.case-one img {
	display: block;
	margin: 0 auto;
	padding: 22px 0;
}

.service-one p:last-child,
.case-one p:last-child {
}

.case-one a,
.customer-more a,
.more a {
	text-align: right;
	display: block;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #64b9fa;
	padding: 0 5px;
}

.new-job {
	overflow: hidden;
}

.new {
	float: left;
	width: 450px;
}

.new-title,
.job-title,
.customer-title {
	overflow: hidden;
}

.new-title > p,
.job-title > p,
.customer-title > p {
	float: left;
	font-size: 18px;
}

.new-title > p span,
.job-title > p span,
.customer-title > p span {
	color: #ff4a4a;
}

.new-title .more,
.job-title .more,
.customer-title .more {
	float: right;
}

.new-content {
	
}

.new-one {
	overflow: hidden;
	padding: 32px 0 16px;
	border-bottom: 1px #8d8d8d solid;
}

.new-one img {
	float: left;
	padding-right: 20px;
}

.new-one .new-abstract {
}

.new-one .new-abstract a {
	color: #3e3e3e; 
}

.new-hot ul {
}

.new-hot ul li {
	height: 30px;
}

.new-hot ul li a {
	color: #3e3e3e;
}

.job {
	float: right;
}

.job-content {
	padding: 32px 0 16px;
	width: 450px;
	height: 330px;
}

.customer {
	overflow: hidden;
}

.customer-content {
	padding-top: 40px;
	overflow: hidden;
}

.customer-content ul {
	list-style: none;
}

.customer-content ul li {
	float: left;
	padding-right: 20px;
}

.customer-content ul .customer-last {
	padding-right: 0px;
}

.customer-content ul li img {
	width: 184px;
	height: 106px;
	box-shadow: 1px 1px 2px 2px #b3b3b3;
	/*outline: #b3b3b3 solid 1px;*/
}

.customer-content ul li a {
	display: block;
	padding: 22px 0;
	font-size: 12px;
	color: #3e3e3e;
}

.link {
	padding: 5px;
	overflow: hidden;
}

.link-name {
	float: left;
	color: #ff0000;
} 

.link-content {
	float: left;
	overflow: hidden;
}

.link-content ul {
	list-style: none;
}

.link-content ul li {
	float: left;
	padding: 0 20px;
}

.link-content ul li {
	border-right: 1px #000000 solid;
}

.link-content ul li:last-child {
	border-right: none;
}

footer {
	clear: both;
	background: #0059b5;
	color: #ffffff;
}

.footer {
	width: 1000px;
	margin: 0 auto;
}

footer .header {
	float: none;
	text-align: center;
	background: #002c5a;
}

footer .header ul {
	display: inline-block; /*如何居中？*/
}

footer .header ul li {
	padding: 0 10px;
}

footer .header ul li a {
	color: #ffffff;
}

.footer-content {
}

.footer-content > p:first-child {
	clear: both;
	padding: 22px 5px;
}

.sacn-contact {
	overflow: hidden;
}

.scan {
	float: left;
	padding: 0 92px 0 226px ;
}

.scan p {
	text-align: center;
}

.contact {
	float: left;
	background: #003e7e;
	width: 292px;
	height: 132px;
}

.contact img {
	/*如何居中*/
}

.footer-content > p:last-child {
	clear: both;
	text-align: center;
	padding: 22px 0;
}




