@charset "utf-8";
.index-menu {
	clear: both;
	font-size: 14px;
	height: 640px;
	/*overflow: hidden;*/
	background: #24282c;
	background-image: linear-gradient(-180deg, rgba(55, 60, 65, 0) 38%, rgba(24, 101, 114, 1) 100%);
	/*opacity: 0.5;*/
	position: relative;
	z-index: 1;
}

.common-topbar {
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}

.common-topbar:hover {
	border-bottom: 1px solid #373d41;
	background: #373d41;
}

.common-topbar-top {
	/*overflow: hidden;*/
	height: 40px;
	border-bottom: 1px solid hsla(0, 0%, 100%, .15);
}

.common-topbar-logo {
	display: block;
	float: left;
	width: 80px;
	margin-top: 10px;
	margin-left: 20px;
	position: relative;
}

.common-topbar-logo img {
	width: 100%;
}

.common-topbar-logo img:last-of-type {
	position: absolute;
	left: 0;
	top: 0;
}

.common-topbar-menu {
	float: right;
}

.common-topbar-menu ul,
.common-topbar-nav-list ul {
	overflow: hidden;
	list-style: none;
}

.common-topbar-menu ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding: 0 12px;
}

.common-topbar-nav-list ul li {
	float: left;
	height: 60px;
	line-height: 60px;
	padding: 0 16px;
	position: relative;
}

.common-topbar-menu ul li a,
.common-topbar-nav-list ul li a {
	color: #fff;
	cursor: pointer;
}

.common-topbar-menu ul li a:hover,
.common-topbar-nav-list ul li a:hover {
	color: #00c1de;
}

.common-topbar-nav-list ul li img {
	position: absolute;
	top: 8px;
	right: 4px;
	width: 24px;
}

.common-topbar-site-switch {
	float: right;
	position: relative;
	color: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 12px;
	cursor: pointer;
}

.common-topbar-site-switch:hover {
	background-color: #272b2f;
}

.common-topbar-site-switch .fa-angle-down {
	display: inline-block;
}

.common-topbar-site-switch .fa-angle-up {
	display: none;
}

.common-topbar-site-switch:hover .fa-angle-down {
	display: none;
}

.common-topbar-site-switch:hover .fa-angle-up {
	display: inline-block;
}

.common-topbar-site-switch:hover .topbar-site-switch-dropdown {
	display: block;
}

.common-topbar-site-switch img {
	width: 16px;
	vertical-align: middle;
	margin-right: 4px;
}

.topbar-site-switch-dropdown {
	display: none;
	position: absolute;
	/*bottom: -110px;*/
	left: 0;
	width: 130px;
	padding: 10px;
	background-color: #272b2f;
	z-index: 998;
}

.topbar-site-switch-dropdown ul {
	list-style: none;
}

.topbar-site-switch-dropdown ul li {
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

.topbar-site-switch-dropdown ul li a {
	color: #fff;
}

.topbar-site-switch-dropdown ul li a:hover {
	color: #00c1de;
}

.topbar-site-switch-dropdown ul li:first-child a {
	cursor: default;
	color: #00c1de;
}

.common-topbar-search {
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	float: right;
}

.common-topbar-search i {
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

.common-topbar-search input {
	width: 0;
	height: 30px;
	opacity: 0;
	border: 0;
	background-color: #4f5356;
	color: #b8bcbf;
	outline: none;
	transition: all .2s ease-in-out;
}

.common-topbar-search.hover {
	background: #4f5356;
}

.common-topbar-search.hover input {
	width: 170px;
	opacity: 1;
}

.common-topbar-bottom {
	clear: both;
	/*overflow: hidden;*/
	color: #fff;
}

.all-nav {
	float: left;
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	color: #fff;
	cursor: default;
}

.all-nav:hover {
	background: #00c1de;
}

.all-nav i {
	text-align: center;
	padding-right: 10px;
}

.common-topbar-nav-list {
	float: left;
	position: relative;
}

.common-topbar-nav-list .line {
	position: absolute;
	width: 0;
	height: 3px;
	left: 115px;
	bottom: 0;
	background: #00c1de;
	transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.common-topbar-register {
	float: right;
	height: 60px;
	line-height: 60px;
	background: #00c1de;
	padding: 0 32px;
}

.common-topbar-register a {
	color: #fff;
	cursor: pointer;
}

.common-topbar-bottom:after {
	clear: both;
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	height: 0;
}

.index-top-bananer {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}

.index-top-bananer a {
	display: none;
}

.index-top-bananer a.active {
	display: block;
}

@-webkit-keyframes banner-slide-20 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0)
	}
}

@keyframes banner-slide-20 {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0)
	}
	to {
		opacity: 1;
		-webkit-transform: translateZ(0);
		transform: translateZ(0)
	}
}

.left-layer {
	position: absolute;
	top: 100px;
	left: 0;
	color: #fff;
	line-height: 50px;
	-webkit-animation: banner-slide-20 .8s cubic-bezier(.4, 0, .2, 1) 0s 1;
	animation: banner-slide-20 .8s cubic-bezier(.4, 0, .2, 1) 0s 1;
}

.left-layer h1 {
	font-size: 44px;
	font-weight: 400;
}

.left-layer p {
	font-size: 20px;
}

.left-layer button {
	margin-top: 30px;
	border: 1px solid #fff;
	width: 120px;
	height: 36px;
	font-size: 16px;
	color: #fff;
	background: transparent;
	outline: none;
	cursor: pointer;
	transition: color .3s ease-in-out, background .3s ease-in-out;
}

.left-layer button:hover {
	color: #373d41;
	background: #fff;
}

.data-base-layer {}

.banner-row {
	position: relative;
	margin: 0 auto;
	zoom: 1;
	/*transform: rotateX(0deg) rotateY(0deg);*/
	/*transform-style: preserve-3d;*/
	/*transition: all .15s ease-out;*/
}

.banner-row .hover-image {
	position: absolute;
	width: 100%;
	/*transform: translateZ(50px);*/
}

.hover-image img {
	width: 800px;
	position: absolute;
	top: 0;
	right: -40px;
}

.carousel-banner {
	position: absolute;
	bottom: 120px;
	margin-left: -65px;
	left: 50%;
	z-index: 2;
}

.carousel-banner ul {
	overflow: hidden;
	list-style: none;
	text-align: center;
}

.carousel-banner ul li {
	float: left;
	width: 12px;
	height: 12px;
	border: 1px rgb(70, 133, 142) solid;
	text-align: center;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background-clip: padding-box;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
}

.carousel-banner ul li.active {
	border: 1px #fff solid;
}

.index-box-row {
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 100%;
}

.index-box-row ul {
	margin: 0 auto;
	max-width: 1200px;
	/*transition: opacity .3s .6s,visibility 0s .6s,margin-top 0s .6s;*/
	overflow: hidden;
	list-style: none;
}

.index-box-row ul li {
	float: left;
	width: 20%;
}

.index-box-row ul li a {
	display: block;
	overflow: hidden;
	border-left: 1px solid #727577;
	border-color: hsla(0, 0%, 100%, .06);
}

.index-box-row ul li:last-child a {
	border-right: 1px solid #727577;
	border-color: hsla(0, 0%, 100%, .06);
}

.index-box-row ul li a:hover {
	background-color: hsla(0, 0%, 100%, .06);
	border-color: transparent;
}

.index-box-row ul li img {
	width: 32px;
	float: left;
	padding: 34px 20px;
	vertical-align: middle;
}

.index-info {
	float: left;
	padding: 28px 0;
}

.index-info h2 {
	color: #fff;
	font-weight: bolder;
	height: 18px;
	font-size: 16px;
	margin-bottom: 4px;
}

.index-info p {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}